h1 {
  color: #000;
  font-weight: bold;
}

a:hover {
  text-decoration: wavy;
}

h2 a {
  color: #000;
}

.contact {
  color: #000;
}

ul li {
  list-style: none;
}

h5 a{
  color: #000;
}

h4 a {
  color: #000;
}

.list-header {
  font-size: 120%;
}

.download-link {
  position: relative;
  font-size: smaller;
}

.centered {
  position: relative;
  left:25%
}

p {
  padding-top: 15px;
  padding-bottom: 10px;
}

.nav-menu{
  position: absolute;
  top: 40%;
  left: 15px;
}

.data{
  /* margin-left: 5%; */
  font-weight: 500;
}

table{
  width: 100%;
}

.footnote {
  color: #000;
}

tr{
  width: 100%;
}

.tbl-divider {
  border-bottom: 1px solid #444;
}

.project-slot{
  min-height: 100px;
  padding: auto;
  /* border-bottom: 1px solid #bbb; */
}

.refs {
  color: #000;
}

.footer{
  position: absolute;
  bottom: 10px;
}

.project-slot a {
  color: #000;
  padding-top: 20px;
}

.project-date {
  text-align: right;
  color: #444;
}