$primary-font: Helvetica, sans-serif

$primary-color: #000000
$secondary-color: #363636
$tertiary-color: #f57242


h1
	font: 100% $primary-font
	color: $primary-color
	font-weight: bold

h2
	font: 100% $primary-font
	color: $secondary-color

h3
	font: 100% $primary-font
	color: $tertiary-color
	font-size: 80%

li
	list-style-type: none
	font: $primary-font
	font-size: 150%
