::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #111;
 }

#splash-page {
    height: 100vh;
    width: 60vw;
    position: fixed;
    left: 35vw;
    color: white;
    z-index: 99;
}

.splash-text {
    position: relative;
    top: 40vh;
    font-size: 30px;
}
.splash-text .maintext {
    font-size: 50px;
    font-weight: bolder;
}

#scroll-text {
    border: 3px solid red;
    box-shadow: -12px 12px #75c0fd;
    height: 10vh;
    line-height: 5vh;
    margin-top: 45vh;
    margin-bottom: 0;
    margin-left: 20px;
}
/* 
#scroll-text h3 {
    line-height: 10vh;
} */

div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #111;
    align-content: center;
}

h2 {
    padding-top: 10px;
}

#svg-div {
    display: inline-block;
    width:70vw;
    position: fixed;
    padding: auto;
}

svg {
    display: flex;
    margin: auto;
    top: 25px;
    position:relative;
}

#sections {
    display: inline-block;
    position: relative;
    z-index: 25;
    width: 30vw;
    height: 100vh;
    margin-right: 0px;
    text-align: center;
    overflow-y: scroll;
    align-items: center;
    color: white;
    margin-left: 25px;
}


.section-header span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

.section-contents { 
    margin-top: 35vh;
    margin-bottom: 35vh;
    margin-left: 20px;
    border: 3px solid #75c0fd;
    box-shadow: -16px 16px#bb1417;
    padding: 20px;
}

.section-header {
    margin-top: 45vh;
    margin-bottom: 45vh;
    padding: 20px;
    position:relative;
    line-height: 40px;
    font-size: 20px;
}
.section-contents p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    text-justify:auto;
    font-size: 20px;
    line-height: 30px;
}

.section-contents a {
    text-decoration: none;
    color: rgb(255, 176, 176);
}

label {
    font-size: 20px;
}

input {
    border: 2px solid;
    border-radius: 3px;
    background-color: #111;
    color: white;
    font-size: 20px;
    padding: 5px;
}

g{
    color: white;
}

.axis-title {
    font-size: 20px;
    fill: white;
}

#plot-title {
    font-size: 24px;
}

.buttons button {
    background-color: #111;
    color: white;
    border-radius: 2px;
    font-size: 20px;
}

.searchButton {
    position: relative;
    background-color: #111;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    height: 35px;
    top: -2px;
    left: 3px;
}

.fox button {
    border: 2px solid #ed4343;
}

.cnn button {
    border: 2px solid #75c0fd;
}

.yaxis1, .yaxis2, .yaxis3, .yaxis4, .xaxis1, .xaxis2 {
    font-size: 14px;
}